/**
 * clock.css
 */
body {
    /*border: solid 1px #EEE;*/
    width: 320px;
    height: 240px;
}
#menu {
    padding: 0;
    list-style-type: none;
    float: right;
    background-color: #EEE;
    border-left: solid 1px red;
    height: 230px;
    font-size: 2em;
    font-weight: bold;
}
#menu li a {
    padding: 8px 10px;
    display: block;
}
#clockid {
    margin: 10px 35px;
}
#time {
    position: absolute;
    top: 0;
    left: 4px;
}
#message {
    position: absolute;
    bottom: 4px;
    left: 4px;
}

a, a:visited, a:active {
    color: red;
}

a.active {
    background-color: #CCC;
}

section.hidden {
    display: none;
}

form {
    font-size: 3em;
    padding: 0 30px;
}

input[type="number"] {
    width: 2em;
}
