extends layout

block content
  ul#menu
    li
      a(href="javascript:location.reload()")
        i(class="glyphicon glyphicon-repeat")
    li
      a(href="#clock", class="active")
        i(class="glyphicon glyphicon-time")
    li
      a(href="#alarm")
        i(class="glyphicon glyphicon-music")
    li
      a(href="#lamp")
        i(class="glyphicon glyphicon-fire")

  section#clock
    div#time Uhrzeit
    canvas#clockid(class="CoolClock:chunkySwissOnBlack:100")

  section#alarm.hidden
    p Wecker
    form(role="form")
      div
        input(type="checkbox")
        | aktiv

      div
        input(type="number")
        | :
        input(type="number")

      div
        button(type="submit")
        | OK

  section#lamp.hidden
    .row
      .col-xs-3
        a.color.blue(href="#0000ff")
      .col-xs-3
        a.color.red(href="#ff0000")
      .col-xs-3
        a.color.green(href="#00ff00")
      .col-xs-3
        a.color.yellow(href="#ffff00")
      .col-xs-3
        a.color.white(href="#ffffff")
      .col-xs-3
        a.color.black(href="#000000")
  
  #message
      
  script(src="/bootstrap/js/bootstrap.min.js")