doctype html
html
  head
    meta(charset="utf-8")
    title Lenas Uhr
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/clock.css")
    script(src="/javascripts/clock.js")
    script(src="js/jquery.min.js")
    script(src="clock/coolclock.js")
    script(src="clock/moreskins.js")

  body
    block content
